<div class="border-end bg-white" id="sidebar-wrapper">
	<div class="sidebar-heading border-bottom bg-light">Dashboard</div>
	<div class="list-group list-group-flush">
		<a
			class="list-group-item list-group-item-action list-group-item-light p-3"
			href="/dashboard"
			>Dashboard</a
		>
		<a
			class="list-group-item list-group-item-action list-group-item-light p-3"
			href="/dashboard/property"
			>Property</a
		>
		<a
			class="list-group-item list-group-item-action list-group-item-light p-3"
			href="/dashboard/user"
			>User</a
		>
		<a
			class="list-group-item list-group-item-action list-group-item-light p-3"
			href="/dashboard/logout"
			>Logout</a
		>
	</div>
</div>
