<footer>
    <div class = "container">
        <p class = "m-0 text-center text-black">Copyright &copy; 2021 EPT Property</p>
    </div>
</footer>

<script src = "/js/bootstrap.bundle.min.js"></script>
<script src = "/js/scripts.js"></script>
